<template>
  <div
    class="flex w-96 flex-col border-r border-solid border-brand-gray-1 bg-white p-4"
  >
    Job Filter Things
  </div>
</template>

<script>
export default {
  name: "JobFilters",
};
</script>
