<template>
  <input
    type="text"
    :value="value"
    class="w-full text-lg font-normal focus:outline-none"
    @input="handleInput"
  />
</template>

<script>
export default {
  name: "TextInput",
  props: {
    modalValue: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      value: "",
    };
  },
  emits: ["update:modalValue"],
  methods: {
    handleInput($event) {
      this.value = $event.target.value;
      console.log(this.value);
    },
  },
};
</script>
