<template>
  <div>Job Page for job {{ currentJobId }}</div>
</template>

<script>
export default {
  name: "JobView",
  computed: {
    currentJobId() {
      // 'id' matches the dynamic route value used in the router index.js
      return this.$route.params.id;
    },
  },
};
</script>
